<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501487567723-3kp4vjavf1mqann7v0qgs8cq4td1d4oe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501487567723-3kp4vjavf1mqann7v0qgs8cq4td1d4oe</string>
	<key>API_KEY</key>
	<string>AIzaSyDdsb17UZn3t28J05jhw9J8d5_hWkG0mlY</string>
	<key>GCM_SENDER_ID</key>
	<string>501487567723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tekadigi.crypto.FunctionsView</string>
	<key>PROJECT_ID</key>
	<string>fora-cryptocurrency</string>
	<key>STORAGE_BUCKET</key>
	<string>fora-cryptocurrency.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501487567723:ios:e6cecbc8506c01b881822e</string>
</dict>
</plist>